@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Online Party Solutions<br />
    Hugo de Groothof 1<br />
    Volendam<br />
    <abbr title="Phone">P:</abbr>
    0624552957
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@eticketbeurs.nl">info@eticketbeurs.nl</a><br />    
</address>